@import "index.css";


.carouselWrapper {
    /* width: 100%; */
    margin: 0px 0 0 -30px;
    padding-bottom: 80px
}

.slick-prev:before {
    width: 50px;
    height: 50px;
    content: '' !important;
    position: absolute;
    top: -11px;
    left: 0px;
    background-image: url('./img/arrowLeft.png');
    /* background-repeat: no-repeat; */
    vertical-align: middle;
    background-size: 50px;
    /* opacity: 1 !important; */
}

.slick-next:before {
    width: 50px;
    height: 50px;
    content: '' !important;
    position: absolute;
    top: -11px;
    left: -30px;
    background-image: url('./img/arrowRight.png');
    vertical-align: middle;
    background-size: 50px;
}

.cardBorder.MuiCard-root {
    
    border-radius: 19px;
    border-style: hidden;
    box-shadow: none;
    

}

.card {
    
    box-shadow: 2px 2px 20px rgba(46, 137, 220, 0.3);
    border: 1px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white),
        var(--gradient-primary);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.card:hover {
    
    box-shadow: 2px 2px 20px rgba(46, 137, 220, 0.3);
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white),
        var(--gradient-primary);
    background-origin: border-box;
    background-clip: content-box, border-box;
}


.mydivider {
    width: 134px;
    height: 4px;
    background: var(--gradient-primary);
    /* Gradient */
    
}

/* About */
.about {
    padding-left: 101px
}

.title-h1 {
    margin: 0;
    width: 801px;
    height: 214px;
    font-weight: 700;
    font-size: 82px;
    line-height: 130%;
    /* or 107px */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* color: var(--main-text-color); */
}

.title-h2 {
    max-width: 725px;
    padding-top: 40px;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    /* or 62px */
    text-transform: uppercase;
    color: #454444;
}

.title-h3 {
    width: 533px;
    height: 45px;
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 130%;
    color: #454444;
}

.title-h4 {
    width: 487px;
    height: 36px;
    margin: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    /* or 45px */

    /* color: var(--main-text-color); */
}
.title-title {
    padding-right: 10px;
    margin: 0;
    font-size: 20px;
    line-height: 130%;
}

.title-text {
    padding-right: 10px;
    margin: 0;
    font-size: 18px;
    line-height: 130%;
}

.gradientText {
    /* Create the gradient. */
    background-image: var(--gradient-primary);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* Events */
.pageStyle {
    padding: 20px 101px
}

/* Footer */
.box-footer {
    padding-left: 101px;
    border-radius: 40px 40px 0px 0px;
    min-height: 389px;

    /* Gradient */
    background: var(--gradient-primary)
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

}

.footer-links>a {
    
    color: white;
    font-size: 14px;
    padding-bottom: 14px;
}
